{% extends site.getFile("layouts/base.njk") %}


<!--    <div id="quote-box" class="container center">
        <div class="row">
            <div id="twitter" class="buttons col-xs-6">
                <a class="btn btn-default btn-info" id="tweet-joke" target="_blank">
                    <i class="fa fa-twitter fa-3"></i> Tweet</a>
            </div>
            <div id="newjoke" class="buttons col-xs-6">
                <button class="btn btn-default btn-success" id="new-joke">
                    <i class="fa fa-refresh fa-3"></i> New Joke
                </button>
            </div>
        </div>
        <div class="row">
            <h1 class="col-xs-12">
                <div class="row">
                    <span id="text" class="text-left">{{title}}</span>
                </div>
                <div class="row">
                    <span id="author" class="text-right">{{content | safe }}</span>
                </div>
            </h1>
        </div>
    </div>
    -->